* {
    max-width: 1120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header */
header {
    display: flex;
    height: 100px;
    padding-bottom: 20px;
    color: #fff;
}


#first-block,
#second-block,
#third-block {
    width: 40%;
    background-color: #3CB371;
}

#second-block {
    line-height: 100px;
}

#third-block {
    width: 20%
}

img {
    height: 99px;
}

/* main */
main {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px 170px;
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}

.row {
    text-align: center;
    line-height: 90px;
    border: 1px solid #3CB371;
    background-color: #FFDAB9;
}

/* footer */
footer {
    background-color: #3CB371;
    color: #fff;
}

footer p:first-child {
    padding: 20px 0 10px 10px;
    font-size: 25px;
}

footer p:nth-child(2),
h2 {
    padding: 20px 0 20px 10px;
}