* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    color: green;
}

.icon li {
    display: inline-block;
    font-size: 0;
    line-height: 60px;
}

i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 13px;
    font-size: 30px;
    background: $color-three;
    color: $color-light;
    cursor: pointer;
}

i:hover {
    transform: scale(1.2);
}